.about-wrapper{
    color: $blacky;

    .about-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        h1{
            color : $darkred;
            margin-right: 30px;
        }
    }
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;

    #about-img{
        width: 90%;
        height: 90%;
    }
}