footer{
    background: $funblue;
    color: $darkwhite;
    font-size: 0.8rem;
    font-weight: 600;    
    bottom: 0;
    box-shadow: 0 -3px 6px 0 rgba(0,0,0,0.16);
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-logo{
    width: auto;
    height: auto;
}
.footer-sign{
    display: flex;
    align-items: center;
}
.footer-sign-text{
    margin-right: 10px;
}

.footer-wrapper{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}