.main{
    h1{
        margin: 0;
    }

    .main-container{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .main-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-self: center;
            width: 80%;
            margin: 20vh auto;
        }
    }

    .main-content{
        justify-self: start;
        margin-left: 20px;
        color: white;
        width: 90%;

        h1 {
            font-size: 2rem;
        }

        p {
            margin-top: 1rem;
            font-size: 1.2rem;
        }
        .main-btn{
            font-size: 1.5rem;
            font-weight: 600;
            background-color: #038ABF;
            padding: 8px 20px;
            border-radius: 5px;
            border: none;
            color: white;
            margin-top: 2rem;
            cursor: pointer;
            position: relative;
            transition: all .35s;
            outline: none;
    
            a{
                position:relative;
                z-index: 2;
                color: white;
                text-decoration: none;
            }
    
            &:after{
                position:absolute;
                content: '';
                top:0;
                left:0;
                width: 0;
                height: 100%;
                background-color: #47C838;
                border-radius: 5px;
                transition: all .35s;
            }
            &:hover{
                color: white;
                border-radius: 5px;
            }
            &:hover:after{
                width: 100%;
                border-radius: 5px;
            }
        }
    }

    .main-image-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        #main-img{
            height: 70%;
            width: 70%;
        }
    }
}