.login-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-mid{
        margin-bottom: 20px;
    }

    .login-area {
        display: flex;
        flex-direction: column;
        width: 40%;

        .login-links{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            a{
                margin-left: 5px;
                text-decoration: none;
                color: $greeny;
                font-weight: 600;

                &:hover{
                    color: $funblue;
                    transition: all .55s ease;
                }
            }
        }
    }

    .forgot-area{
        width: 30%;
    }
    .new-area{
        width: 40%;
    }
}