.navbar {
    background: $darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  
  .navbar-wrapper {
    color: $darkwhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px 10px;
  }
  
  .container {
    z-index: 1;
    width: 100%;
    margin: 5px 0;
    padding: 0 30px;
  }
  
  .navbar-logo {
    color: $darkwhite;
    font-weight: 700;
    font-size: 2rem;
    justify-self: start;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    .cls-2{
      fill: $darkwhite;
      
      &:hover{
        fill: $funblue;
        transition: all .35s ease;
      }
    }
  }
  
  .navbar-items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  
  }
  
  .nav-item {
    text-decoration: none;
    cursor: pointer;
    height: 90%;
  }

  .nav-links {
    color: $darkwhite;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;

    &:hover{
        color:$funblue;
        transition: all 0.1s ease-out;
    }
  }
  
  .navbar-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  .nav-tools-user{
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;

    strong{
      padding-right: 10px;
      color: $darkwhite;

      &:hover{
        color: $funblue;
        transition: all 0.1s ease-in;
      }
    }
  }
}