.profil-content{
    display: grid;
    grid-template-columns: 0.8fr 0.1fr 2.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . .";
    height: 73vh;
    margin: 5.3vh 0;
    
    .profil-pics{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .profil-sets{
            text-align: center;
            flex-direction: column;
            .set-title{
                font-size: 18px;
            }
        }
    }
    .profil-infos{
        display: flex;
        flex-direction: column;
        align-items: center;

        .profil-banner{
            width: 90%;
            height: 15vh;
            background-color: $funblue;
            border-radius: 20px;
        }
        .profil-form{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .form-title{
                font-size: 20px;
            }

            .general-infos,.other-infos{
                width: 40%;
            }
        }
    }
}