/* Main style */
@import url(components/fonts.css);
@import url(components/variables.css);
@import url(components/containers.css);
@import url(components/texts.css);
@import url(components/modifers.css);
@import url(components/button.css);

/* Layer Style */
@import url(components/navbar.css);
@import url(components/footer.css);

/* Components style */
@import url(components/shapes.css);
@import url(components/banner.css);

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Fira regular';
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
    padding: 0;
}

ul, li, p, span{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    margin:0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

button{
    border: none;
    outline: none;
}
