.date-picker-wrapper{
    width: -moz-available;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date-picker{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.date-icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--bottom-shadow);
    padding: 5px;
    fill: var(--regular-white);
    background-color: var(--fun-blue);
    cursor: pointer;
    transition: all .2s ease-out;
}
.date-icon:hover, .date-icon:focus{
    background-color: var(--weezy-sand);
    transition: all .2s ease-in;
}
.date-icon svg{
    width: 100%;
    height: 100%;
}
.picker{
    width: 10rem;
    border: none;
    font-size: var(--large-text);
    font-weight: 700;
    color: var(--regular-white);
    background-color: var(--fun-blue);
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}
