.fu-form{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fu-form-item{
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.finput-text{
    padding: 5px 11px;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: var(--bottom-shadow);
    font-size: var(--medium-text);
    color: var(--dark-grey);
}
.finput-blue{
    border: 2px solid var(--fun-blue);
}
.error-message{
    width: 70%;
    border-radius: 5px;
    border-top: 4px solid red;
    background-color: var(--regular-white);
    padding: 10px 15px;
    color: var(--dark-grey);
    box-shadow: var(--bottom-shadow);
}
.off-screen{
    display: none;
}