
.regular-text{
    font-family: 'Fira regular';
}
.bold-text{
    font-family: 'Fira bold';
}
.light-text{
    font-family: 'Fira light';
}
.thin-text{
    font-family: 'Fira thin';
}
.small-text{
    font-size: var(--small-text);
}
.medium-text{
    font-size: var(--medium-text);
}
.large-text{
    font-size: var(--large-text);
}
.big-text{
    font-size: var(--big-text);
}
.orange-text{
    color: var(--cream-orange);
}
.blue-text{
    color: var(--fun-blue);
}
.yellow-text{
    color: var(--freeze-yellow);
}
.green-text{
    color: var(--cute-green);
    transition: all .2s ease-in;
}
.white-text{
    color: var(--regular-white);
}
.black-text{
    color: var(--dark-grey);
    transition: all .2s ease-in;
}
.center{
    text-align: center;
}
.text-title{
    font-size: var(--big-text);
    font-family: 'Fira bold';
    color: var(--dark-grey);
}
.spe-title{
    width: 100%;
    padding: 0;
    position: absolute;
    top: 10px;
}
.spe-left{
    padding: 10px 50px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    letter-spacing: 2px;
}
.spe-right{
    padding: 10px 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    letter-spacing: 2px;
}
.spe-bg-orange{
    background-color: var(--cream-orange);
}
.spe-bg-blue{
    background-color: var(--fun-blue);
}
.spe-bg-sand{
    background-color: var(--weezy-sand);
}
@media screen and (max-width: 960px) {

}