
.regular-text{
    font-family: 'Fira regular';
}
.bold-text{
    font-family: 'Fira bold';
}
.light-text{
    font-family: 'Fira light';
}
.thin-text{
    font-family: 'Fira thin';
}
.small-text{
    font-size: var(--small-text);
}
.medium-text{
    font-size: var(--medium-text);
}
.large-text{
    font-size: var(--large-text);
}
.big-text{
    font-size: var(--big-text);
}
.orange-text{
    color: var(--cream-orange);
}
.blue-text{
    color: var(--fun-blue);
}
.yellow-text{
    color: var(--freeze-yellow);
}
.green-text{
    color: var(--cute-green);
    transition: all .2s ease-in;
}
.white-text{
    color: var(--regular-white);
}
.black-text{
    color: var(--dark-grey);
    transition: all .2s ease-in;
}
.text-title{
    font-size: var(--big-text);
    font-family: 'Fira bold';
    color: var(--dark-grey);
}
.fu-title-right{
    width: 180px;
    height: 40px;
    padding: 5px 15px;
    letter-spacing: 2px;
    position: absolute;
    top: 90px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 10;
}

.fu-title-left{
    width: 180px;
    height: 40px;
    padding: 5px 15px;
    letter-spacing: 2px;
    position: absolute;
    top: 90px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
}