:root{
    --weezy-sand: #F6AA4D;
    --cream-orange: #F65D19;
    --fun-blue: #22A2B3;
    --regular-white: #ffffff;
    --dark-grey: #7E7C7C;
    --bottom-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    --top-shadow: 0 -3px 6px 0 rgba(0,0,0,0.16);
    --big-text: 1.538rem;
    --large-text: 1.258rem;
    --medium-text: 1.038rem;
    --small-text: .883rem;
    --header-height: 60px;
    --footer-height: 200px;
}