@import './components/variable.scss';
@import './components/shapes.scss';
@import './components/modifier.scss';
@import './components/inputs.scss';
@import './components/container.scss';
@import './components/forms.scss';
@import './components/progressBar.scss';
@import './components/buttons.scss';
@import './modules/navbar.scss';
@import './modules/footer.scss';
@import './modules/home.scss';
@import './modules/about.scss';
@import './modules/login.scss';
@import './modules/contact.scss';
@import './modules/profil.scss';

*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}