.btn-submit{
    border-radius: 50px;
    padding: 8px 50px;
    border: 0;
    background-color: $greeny;
    font-weight: 600;
    color: $darkwhite;
    font-size: 18px;
    cursor: pointer;

    &:hover{
        background-color: $funblue;
        transition: all .55s ease-out;
    }
}
