.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        font-weight: 600;
        
        label{
            cursor: pointer;
        }
        input{
            cursor: pointer;
        }
        .form-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}
