.input-label{
    width: 30%;
}
.input-label-small{
    width: 30%;
    font-size: 15px;
    font-weight: lighter;
}

.input-separator{
    height: 5vh;
    width: .8vh;
    border: 0;
    border-radius: 10px;
    background-color: $funblue;
}

.input-round{
    border : 0;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
}

.input-round-border{
    border : 1.5px solid $blacky;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
}

.input-area{
    border : 0;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;    
}