.bg-red{
    background-color: $darkred;
    color: $darkwhite;
}
.bg-white{
    background-color: $darkwhite;
    color: $blacky;
}

.bg-blue{
    background-color: $funblue;
    color: $darkwhite;
}