.progress-wrapper{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-wrapper.hidden{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.progress{
    width: 30%;
    height: 5vh;
    border-radius: 50px;

    .progress-bar{
        height: 5vh;
        border-radius: 50px;
    }
}