.big-circle{
    img{
        width: 25vh;
        height: 25vh;
        border-radius: 50%;
        object-fit: cover;
    }
}

.medium-circle{

}

.small-circle{

}

.x-small-circle{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: $darkwhite;
}